@import url("https://fonts.googleapis.com/css2?family=Poller+One&family=Poppins:wght@400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

body {
  font-family: "poppins";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: -7;
}

:root {
  --colorWhite: #fff;
  --colorPink: #fb0767;
  --colorBlack: #000;
  --colorLightWhite: snow;
  --textBlack: #000;
  --textWhite: #fff;
}

.intro {
  z-index: 15;
  background-color: var(--colorBlack);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro-container .intro-heading {
  overflow: hidden;
}

.intro .intro-container .intro-heading span.text {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
  font-family: "poppins", sans-serif;
  font-size: 3.5rem;
  color: var(--colorPink);
  font-weight: 700;
}

.slider {
  z-index: 20;
  height: 100vh;
  width: 100%;
  background-color: #131e28;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #c5cac5;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top .background-svg svg {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.top .name.small {
  visibility: hidden;
}

.top .jumbotron {
  height: 90vh;
}

.top .jumbotron #svg-name {
  width: 70%;
  font-size: 3rem;
  font-family: "Poller One", cursive;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 0.5s ease forwards 4s;
          animation: fill 0.5s ease forwards 4s;
}

.top .jumbotron #svg-name path:nth-child(1) {
  stroke-dasharray: 243.19329833984375;
  stroke-dashoffset: 243.19329833984375;
  -webkit-animation: svg-anim 1s ease forwards 2s;
          animation: svg-anim 1s ease forwards 2s;
}

.top .jumbotron #svg-name path:nth-child(2) {
  stroke-dasharray: 257.4693908691406;
  stroke-dashoffset: 257.4693908691406;
  -webkit-animation: svg-anim 1s ease forwards 2.1s;
          animation: svg-anim 1s ease forwards 2.1s;
}

.top .jumbotron #svg-name path:nth-child(3) {
  stroke-dasharray: 295.7567138671875;
  stroke-dashoffset: 295.7567138671875;
  -webkit-animation: svg-anim 1s ease forwards 2.2s;
          animation: svg-anim 1s ease forwards 2.2s;
}

.top .jumbotron #svg-name path:nth-child(4) {
  stroke-dasharray: 269.1661376953125;
  stroke-dashoffset: 269.1661376953125;
  -webkit-animation: svg-anim 1s ease forwards 2.3s;
          animation: svg-anim 1s ease forwards 2.3s;
}

.top .jumbotron #svg-name path:nth-child(5) {
  stroke-dasharray: 179.9560089111328;
  stroke-dashoffset: 179.9560089111328;
  -webkit-animation: svg-anim 1s ease forwards 2.4s;
          animation: svg-anim 1s ease forwards 2.4s;
}

.top .jumbotron #svg-name path:nth-child(6) {
  stroke-dasharray: 338.5960388183594;
  stroke-dashoffset: 338.5960388183594;
  -webkit-animation: svg-anim 1s ease forwards 2.5s;
          animation: svg-anim 1s ease forwards 2.5s;
}

.top .jumbotron #svg-name path:nth-child(7) {
  stroke-dasharray: 246.26393127441406;
  stroke-dashoffset: 246.26393127441406;
  -webkit-animation: svg-anim 1s ease forwards 2.6s;
          animation: svg-anim 1s ease forwards 2.6s;
}

.top .jumbotron #svg-name path:nth-child(8) {
  stroke-dasharray: 288.2884216308594;
  stroke-dashoffset: 288.2884216308594;
  -webkit-animation: svg-anim 1s ease forwards 2.7s;
          animation: svg-anim 1s ease forwards 2.7s;
}

.top .jumbotron #svg-name path:nth-child(9) {
  stroke-dasharray: 288.2865905761719;
  stroke-dashoffset: 288.2865905761719;
  -webkit-animation: svg-anim 1s ease forwards 2.8s;
          animation: svg-anim 1s ease forwards 2.8s;
}

.top .jumbotron #svg-name path:nth-child(10) {
  stroke-dasharray: 246.26791381835938;
  stroke-dashoffset: 246.26791381835938;
  -webkit-animation: svg-anim 1s ease forwards 2.9s;
          animation: svg-anim 1s ease forwards 2.9s;
}

.top .jumbotron #svg-name path:nth-child(11) {
  stroke-dasharray: 278.17022705078125;
  stroke-dashoffset: 278.17022705078125;
  -webkit-animation: svg-anim 1s ease forwards 3s;
          animation: svg-anim 1s ease forwards 3s;
}

@-webkit-keyframes svg-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes svg-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: snow;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: snow;
  }
}

@-webkit-keyframes remove-stroke {
  to {
    stroke-width: 0;
  }
}

@keyframes remove-stroke {
  to {
    stroke-width: 0;
  }
}

.nav-scrolled {
  background-color: rgba(0, 0, 0, 0.7);
}

nav {
  padding: 0 3rem;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: 10vh;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--textWhite);
}

nav .logo a {
  text-decoration: none;
  color: var(--colorPink);
  font-size: 1.5rem;
  font-weight: 900;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  padding-left: 1.5rem;
  display: block;
  font-size: 1rem;
  color: var(--textWhite);
  text-decoration: none;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: var(--colorWhite);
  margin: 5px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .jumbotron .name.small {
    visibility: visible;
    min-width: 150px;
    width: 40%;
  }
  .name.big {
    visibility: hidden;
  }
  nav {
    height: 10vh;
  }
  .logo {
    float: none;
    width: auto;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 100%;
    width: auto;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: white;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 1rem;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(225deg);
            transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-225deg);
            transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

.section-heading {
  font-family: "poppins";
  font-weight: bold;
  padding: 6rem 0;
  text-align: center;
  font-size: clamp(32px, 5vw, 60px);
  color: var(--textBlack);
}

.about {
  padding: 0 3rem;
  background-color: var(--colorWhite);
}

.about .fa-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.about .fa-icon div {
  width: 250px;
  padding: 0 2rem;
  padding-bottom: 7rem;
  margin: auto;
}

.about .fa-icon div i {
  font-size: clamp(30px, 4vw, 42px);
  color: #200c61;
}

.about .fa-icon div p {
  padding-top: 0.5rem;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 600;
}

.skills {
  background-color: var(--colorPink);
  padding: 0 3rem;
}

.skills h2 {
  color: var(--textBlack);
}

.skills .container {
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .card {
  width: 350px;
  margin: 2rem 1rem;
  padding: 1rem;
  position: relative;
  -webkit-box-shadow: 1px 1px 10px 1px var(--colorPink);
          box-shadow: 1px 1px 10px 1px var(--colorPink);
  cursor: pointer;
}

.skills .card h2 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}

.skills .card p {
  z-index: 2;
  padding-top: 1.2rem;
  padding-left: 2.5rem;
  position: relative;
  -webkit-clip-path: circle(0% at 100% 0);
          clip-path: circle(0% at 100% 0);
  color: white;
  font-size: 1rem;
  line-height: 1.6em;
  position: relative;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.skills .card p::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 5px;
  background-color: #2b2bdd;
  left: 0;
  top: 1.5rem;
}

.skills .card2 {
  width: 350px;
  margin: 2rem 1rem;
  padding: 1rem;
  position: relative;
  -webkit-box-shadow: 1px 1px 10px 1px var(--colorPink);
          box-shadow: 1px 1px 10px 1px var(--colorPink);
  cursor: pointer;
}

.skills .card2 h2 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}

.skills .card2 p {
  z-index: 2;
  padding-top: 1.2rem;
  padding-left: 2.5rem;
  position: relative;
  -webkit-clip-path: circle(0% at 100% 0);
          clip-path: circle(0% at 100% 0);
  color: var(--textWhite);
  font-size: 1rem;
  line-height: 1.6em;
  position: relative;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.skills .card2 p::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 5px;
  background-color: #2b2bdd;
  left: 0;
  top: 1.5rem;
}

.skills .card3 {
  width: 350px;
  margin: 2rem 1rem;
  padding: 1rem;
  position: relative;
  -webkit-box-shadow: 1px 1px 10px 1px var(--colorPink);
          box-shadow: 1px 1px 10px 1px var(--colorPink);
  cursor: pointer;
}

.skills .card3 h2 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}

.skills .card3 p {
  z-index: 2;
  padding-top: 1.2rem;
  padding-left: 2.5rem;
  position: relative;
  -webkit-clip-path: circle(0% at 100% 0);
          clip-path: circle(0% at 100% 0);
  color: var(--textWhite);
  font-size: 1rem;
  line-height: 1.6em;
  position: relative;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.skills .card3 p::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 5px;
  background-color: #2b2bdd;
  left: 0;
  top: 1.5rem;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colorWhite);
  width: 100%;
  height: 15%;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #200c61;
  width: 100%;
  height: 0%;
}

.card2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colorWhite);
  width: 100%;
  height: 15%;
}

.card2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #200c61;
  width: 100%;
  height: 0%;
}

.card3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colorWhite);
  width: 100%;
  height: 15%;
}

.card3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #200c61;
  width: 100%;
  height: 0%;
}

p {
  color: var(--textBlack);
}

.projects {
  padding: 0 3rem;
  background-color: var(--colorWhite);
  padding-bottom: 10em;
}

.projects .container {
  width: 70%;
  min-width: 270px;
  background-color: var(--colorLightWhite);
}

.projects .container h2 {
  color: var(--textBlack);
}

.projects .container .projects-info #car path,
.projects .container .projects-info #car2 path,
.projects .container .projects-info #crane path {
  fill: #110b3b;
}

.projects .container .projects-info #mobile path,
.projects .container .projects-info #mobile2 path,
.projects .container .projects-info #mobile3 path {
  fill: #4b464e;
  stroke: #4b464e;
}

.projects .container .projects-info svg {
  min-width: 50px;
  width: 10vw;
  max-width: 100px;
  min-height: 70px;
  height: 15vw;
  max-height: 150px;
}

.projects .container .projects-info div {
  overflow: hidden;
}

.projects .container .projects-info h2 {
  font-weight: 600;
}

.projects .container .projects-info h2,
.projects .container .projects-info p {
  padding: 2rem 1rem 0;
}

.projects .container .projects-info .svg-icon {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .container .projects-info .svg-icon #car {
  position: relative;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.projects .container .projects-info .svg-icon .after-car {
  color: var(--textBlack);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: clamp(8px, 1.5vw, 14px);
  font-weight: bold;
}

.projects .container .projects-info .svg-icon #mobile {
  position: relative;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.projects .container .projects-info .svg-icon .after-mobile {
  color: var(--textBlack);
  position: absolute;
  top: 44%;
  left: 35%;
  font-size: clamp(8px, 1.5vw, 14px);
  font-weight: bold;
}

.projects .container .projects-info .svg-icon #car2 {
  position: relative;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.projects .container .projects-info .svg-icon #mobile2 {
  position: relative;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.projects .container .projects-info .svg-icon .after-mobile2 {
  color: var(--textBlack);
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: clamp(12px, 2.5vw, 24px);
  font-weight: bold;
}

.projects .container .projects-info .svg-icon #crane {
  position: relative;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.projects .container .projects-info .svg-icon #mobile3 {
  position: relative;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.projects .container .projects-info .svg-icon .after-mobile3 {
  color: var(--textBlack);
  position: absolute;
  top: 49%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: clamp(12px, 2.5vw, 24px);
  font-weight: bold;
}

.projects .container .projects-info .svg-icon .circle {
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-height: 15px;
  max-width: 15px;
  width: 2vw;
  height: 2vw;
  min-width: 5px;
  min-height: 5px;
  background-color: #200c61;
  border-radius: 50%;
}

.carusel-btn {
  color: var(--colorPink);
}

.glider-prev,
.glider-next {
  padding-top: 10%;
}

.studies {
  background-color: var(--colorPink);
  padding: 0 3rem;
}

.studies .container {
  padding-bottom: 5rem;
}

.studies .container .line-slider {
  padding-left: 7rem;
  height: 80vh;
  position: relative;
  color: var(--textWhite);
}

.studies .container .line-slider #svg-line {
  height: 100%;
}

.studies .container .line-slider #svg-line path {
  fill: #200c61;
}

.studies .container .line-slider .studies-first {
  position: absolute;
  top: 5%;
  left: 20%;
}

.studies .container .line-slider .studies-first h2 {
  font-size: clamp(20px, 4vw, 34px);
  font-weight: 600;
  color: var(--textWhite);
}

.studies .container .line-slider .studies-first h3 {
  font-size: clamp(12px, 4vw, 24px);
  font-weight: 600;
  color: var(--textWhite);
}

.studies .container .line-slider .studies-first p {
  font-size: clamp(10px, 4vw, 20px);
  color: var(--textWhite);
}

.studies .container .line-slider .studies-second {
  position: absolute;
  top: 30%;
  left: 20%;
}

.studies .container .line-slider .studies-second h2 {
  font-size: clamp(20px, 4vw, 34px);
  font-weight: 600;
}

.studies .container .line-slider .studies-second h3 {
  font-size: clamp(12px, 4vw, 24px);
  font-weight: 600;
}

.studies .container .line-slider .studies-second p {
  font-size: clamp(10px, 4vw, 20px);
}

.studies .container .line-slider .studies-third {
  position: absolute;
  top: 57%;
  left: 20%;
}

.studies .container .line-slider .studies-third h2 {
  font-size: clamp(20px, 4vw, 34px);
  font-weight: 600;
}

.studies .container .line-slider .studies-third h3 {
  font-size: clamp(12px, 4vw, 24px);
  font-weight: 600;
}

.studies .container .line-slider .studies-third p {
  font-size: clamp(10px, 4vw, 20px);
}

@media (max-width: 950px) {
  .studies .container .line-slider {
    padding-left: 2rem;
  }
}

@media (max-width: 550px) {
  .studies .container .line-slider {
    padding-left: 0;
  }
}

.contact {
  background-color: black;
  text-align: center;
}

.contact .contact-links a {
  text-decoration: none;
}

.contact .contact-links a i {
  color: #f79fc2;
  padding: 2rem 1rem;
}

.contact .contact-links a i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #eec7c7;
}
/*# sourceMappingURL=main.css.map */